################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Projects/Part_01/Ch_01/Koshary_Architecture/.vs
